rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
   
    match /employees/{document} {
      allow read, write: if true;
    }
    match /meals/{document} {
      allow read, write: if true;
    }
  }
}